.about-container {
    margin-top: 100px;
    color: white;
    background: black;
}

.about-name-font {
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black;
    letter-spacing: 0.5px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.about-hello-font {
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
}

.about-intro-font {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: grey;
    font-size: 14px;
    line-height: 30px;
}

.grid-image {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .about-container {
        margin-top: -5px;
        color: white;
    }

    .about-name-font {
        font-size: 20px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        color: black;
        letter-spacing: 0.5px;
        margin-top: -10px;
        margin-bottom: 10px;
    }

    .about-hello-font {
        font-size: 20px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        color: black;
        letter-spacing: 0.5px;
        margin-bottom: 5px;
    }

    .about-intro-font {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: grey;
        font-weight: bold;
        font-size: 13px;
    }
}

@media screen and (min-width:1920px) and (max-width: 2559px) {
    .about-name-font {
        font-size: 20px;
    }

    .about-hello-font {
        font-size: 20px;
    }

    .about-intro-font {
        font-size: 15px;
    }
    }

    @media screen and (min-width:2560px) and (max-width: 3839px) {
        .about-name-font {
            font-size: 22px;
        }
    
        .about-hello-font {
            font-size: 22px;
        }
    
        .about-intro-font {
            font-size: 18px;
        }

        .grid-image {
            width: 95%;
        }
        }

        @media screen and (min-width:3840px) {
            .about-name-font {
                font-size: 30px;
            }
        
            .about-hello-font {
                font-size: 30px;
            }
        
            .about-intro-font {
                font-size: 22px;
            }
    
            .grid-image {
                width: 95%;
            }
            }