body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: black;
  }

  .home-container {
    background: black;
  }

    .blog-header {
      max-width: 800px;
      margin: 0 auto;
      margin-bottom: -120px;
      padding: 20px;
      text-align: center;
    }
  
    .blog-header h1:hover {
      color: red;
    }
    
    .blog-header h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 28px;
      color: white;
    }
  
    .blog-header img {
      margin-left: 5px;
    }

    @media screen and (max-width: 600px) {
        .blog-header {
            max-width: 800px;
            margin: 0 auto;
            margin-top: -60px;
            margin-bottom: 10px;
            padding: 20px;
            text-align: center;
          }
          
        .blog-header h1 {
            font-size: 22px;
            margin-bottom: 20px;
            color: white;
          }

          .home-container {
            background: black;
            margin-bottom: 40px;
          }
    }
  
    
  
    